/* Color Theme Swatches in Hex */
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-1-hex { color: #68788C; }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-2-hex { color: #979DA6; }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-3-hex { color: #F2E205; }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-4-hex { color: #F2EEB3; }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-5-hex { color: #F2D64B; }

/* Color Theme Swatches in RGBA */
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-1-rgba { color: rgba(104, 120, 140, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-2-rgba { color: rgba(151, 157, 166, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-3-rgba { color: rgba(242, 226, 5, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-4-rgba { color: rgba(242, 238, 179, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-5-rgba { color: rgba(242, 214, 75, 1); }

/* Color Theme Swatches in HSLA */
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-1-hsla { color: hsla(213, 14, 47, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-2-hsla { color: hsla(216, 7, 62, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-3-hsla { color: hsla(55, 95, 48, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-4-hsla { color: hsla(56, 70, 82, 1); }
.Yellow-buoy-bright-light-in-open-sea-under-dark-grey-clouds-and-mountain-5-hsla { color: hsla(49, 86, 62, 1); }